* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  box-sizing: content-box;
  background-color: #ddd;
}
.control {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control .test-btn {
  text-transform: uppercase;
  padding: 30px;
  border-radius: 30px;
  border: 2px solid #2196f3;
  color: #2196f3;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.control .test-btn:hover {
  color: #ddd;
  background-color: #2196f3;
}
.container {
  position: relative;
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: space-around;
}
.container .field {
  width: 100px;
  height: 100px;
  background-color: #ed3;
  border: 2px solid black;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .field.right {
  margin-left: 1700px;
}

.container .field:nth-child(1) {
  transition: margin-left 3s linear;
}

.container .field:nth-child(2) {
  transition: margin-left 3s ease-in-out;
}

.container .field:nth-child(3) {
  transition: margin-left 3s ease-in;
}

.container .field:nth-child(4) {
  transition: margin-left 3s ease-out;
}

.container .field:nth-child(5) {
  transition: margin-left 3s cubic-bezier(0.58, 1.51, 0.37, -0.53);
}

.container .animated {
  position: absolute;
  left: 50px;
  top: -30px;
  width: 300px;
  height: 300px;
  border: 10px solid black;
  animation: crazy-animation 10s linear 2s infinite;
}

@keyframes crazy-animation {
  0%,
  100% {
  }
  25% {
    left: 60%;
    width: 40px;
    border: 1px solid black;
    border-radius: 0;
  }
  50% {
    top: 40vh;
    height: 50px;
    width: 300px;
    background-color: #fed;
    border-radius: 50%;
  }
}
